<h2>Add Employee View </h2>
<form action="/employees/create" method="post">
<table border="1">
    <tr>
        <td>ID</td>
        <td><input type="number" name='id'></td>
        <td><button>Create</button></td>
    </tr>
    <tr>
            <td>Ename</td>
            <td><input type="text" name='ename'></td>
            <td><button>Clear All</button></td>
    </tr>
    <tr>
            <td>Job</td>
            <td><input type="text" name='job'></td>
            <td></td>
    </tr>
    <tr>
            <td>Salary</td>
            <td><input type="number" name='salary'></td>
            <td></td>
        </tr>
</table>
</form>
<a href="/employees/list">Back to Employee index</a>
