<h2>Selected employee Details</h2>
ID: <%= emp.id %> <br>
Ename: <%= emp.ename %> <br>
Job: <%= emp.job %> <br>
Salary: <%= emp.salary %> <br>
 
 
<br><br><hr>
Goto:
    <a href="/employees/list">Employee List</a> |
    <a href="/">Project Index page</a> |

